################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GlassdoorSDK/.vs
/GlassdoorSDK/Glassdoor/bin
/GlassdoorSDK/Glassdoor/bin
